#logoutSect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#logoutSect h1 {
  font-size: 13px;
}

#logoutBtn .btn {
  font-size: 13px;
}

.seperator {
  background-color: #ececec;
  height: 1px;
}

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile img {
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#username {
  font-size: 25px;
  font-weight: 600;
}

#pointTrackingSection {
  background-color: #ececec;
  padding: 3rem;
  border-radius: 25px;
}

#rebateAmt {
  color: #ff6d00;
}

.personalInfoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: auto;
}

#personalInfoHeader {
  margin: auto;
}

h3,
h4 {
  font-size: 20px;
}
p {
  font-size: 15px;
}

.infoContainer {
  width: clamp(250px, 83%, 300px); /* 83% cos its col-10 */
  display: flex;
  padding: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.infoContainer i {
  color: var(--primary-color);
}

.infoContainer h5 {
  font-size: 20px;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.infoContainer p {
  font-size: 15px;
}
