.footerContainer h5 {
  font-weight: 700;
}

.footerContainer a:hover {
  color: var(--font-color) !important;
}

.footer-para {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.row.row-cols-1.row-cols-sm-2.row-cols-md-5.py-5.my-5.border-top {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  margin: auto;
}

.footerContainer img {
  max-width: 200px;
}
