.carousel-item {
  width: 100%;
  height: 400px;
}

.tagline {
  margin: 4rem 40px;
  font-size: clamp(20px, 5vw, 40px);
  margin-bottom: -40px;
}

.shortcuts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-content: center;
  margin: auto;
  padding-top: 0;
}

.shortcut {
  margin-top: 100px !important;
}
.shortcuts .shortcut {
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.shortcutDetail {
  position: relative;
}

.shortcutDetail img,
.shortcutDetail p {
  position: absolute;
}

.shortcutDetail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  top: -10px;
  right: -20px;
  transform: rotate(-20deg);
  z-index: 2;
}

#running-shoe {
  width: 180px;
  height: 180px;
  top: -5px;
}

.shortcutDetail p {
  color: var(--font-color);
  bottom: -7px;
  left: 2px;
  font-weight: 550;
  font-size: 38px;
  z-index: 3;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 200px 100px;
  border-color: transparent transparent #d7d7d7 transparent;
}

#shop-now-btn {
  bottom: 80px;
  left: 80px;
  width: 300px;
  height: 80px;
  font-size: 2rem;
}

#shoeFinderQuizPrompt {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

#shoeFinderQuizPrompt a {
  color: var(--font-color);
}

#shoeFinderQuizPrompt-title {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9), 4px 4px 5px rgba(0, 0, 0, 0.7),
    6px 6px 5px rgba(0, 0, 0, 0.5), 8px 8px 5px rgba(0, 0, 0, 0.3),
    10px 10px 5px rgba(0, 0, 0, 0.1);
}

.btn-bold-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); /* Shadow around the button */
  padding: 1vw 2vw; /* Responsive padding based on viewport width */
  min-width: 100px; /* Minimum width to ensure readability */
  min-height: 40px; /* Minimum height to maintain usability */
  width: 15vw;
}

.btn-bold-shadow p {
  font-weight: bold; /* Keep the text bold */
}

/* CSS to style the overlay */
#shoeFinderQuizPrompt .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for opacity */
  z-index: 1;
}

#shoeFinderQuizPrompt-content {
  z-index: 10;
}
