dotlottie-player {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}

#confettiAnimation {
  top: 30%;
  left: 22%;
  display: block;
}

#logoAnimation {
  display: block;
}

#logoAnimation {
  width: 10px;
  height: 10px;
}
