#navbar {
  background: var(--body-color);
  justify-content: space-between;
}

.navbarDetails {
  margin: 0;
}

#navbar .nav-link {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  transition: all 0.2s linear;
}

#navbar .navbar-brand img {
  width: 150px;
  height: 100%;
}

#navbar.openSearch .nav-link {
  opacity: 0;
  pointer-events: none;
}

#navbar .nav-link:hover {
  color: var(--primary-color);
}

#navbarNav .selected {
  color: var(--primary-color);
}

#navbar #logo {
  margin-left: 2rem;
  width: 300px;
}

#navbarNav {
  justify-content: center;
}

#navbarNav .nav-item {
  width: 146px;
}

#navbar .icons {
  display: block;
  width: 300px;
}

.icons .icon {
  font-size: 1.2em;
  color: var(--font-color);
  padding-right: 3em;
  cursor: pointer;
}

.icon:hover {
  color: var(--primary-color);
}

/* This is for the search bar + icon */
#navbar .search-bar {
  position: absolute;
  right: 275px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  /* This is to hide the search bar */
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

#navbar.openSearch .search-bar {
  /* This is to unhide search bar */
  opacity: 1;
  pointer-events: auto;
}

.search-bar #navbar-searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: var(--primary-color);
  transform: translateY(-50%);
}

.search-bar input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--font-color);
  padding: 0 15px 0 45px;
}
/* This is the end for the search bar + icon */

.search-bar.active .autocom-box {
  opacity: 1;
  pointer-events: auto;
}

/* This is for autocomplete func */
.autocom-box {
  background-color: var(--font-color);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  position: relative;
  padding: 10px 2px;
  top: -4px;
  z-index: -1;

  /* This is to hide the autocomplete box */
  opacity: 0;
  pointer-events: none;
}

.autocom-box li {
  color: var(--body-color);
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box li:hover {
  background-color: #efefef;
}

/* responsive */
@media screen and (max-width: 1160px) {
  #navbar .search-bar {
    right: 125px;
    max-width: 400px;
  }
}

@media screen and (max-width: 950px) {
  #navbar .search-bar {
    right: 175px;
  }
}
