.accordion-item .accordian-header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.form-check-label {
  margin-left: 1em;
}

.accordian-body {
  display: flex;
  align-items: flex-start;
}

.form-check {
  position: relative;
  display: block;
}

#saveCardInfo {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#submitBtn {
  display: flex;
  justify-content: center;
}

small {
  font-size: clamp(10px, 1vw, 12px);
}
