.form-check {
  position: relative;
  display: block;
}

#saveCardInfo {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#submitBtn {
  display: flex;
  justify-content: center;
}

small {
  font-size: clamp(10px, 1vw, 12px);
}

#credDebtForm {
  padding: 0px !important;
}

#cashNotification {
  padding: 0px !important;
}
