/* CSS to style the progress bar */
.progress {
  height: 30px; /* Set the height of the progress bar */
  margin-top: 5px; /* Add some margin for spacing */
}

.progress-bar {
  font-size: 18px; /* Increase the font size for readability */
  line-height: 30px; /* Center the text vertically */
}

.stats-row {
  height: 20%;
}

/* CSS to style the Product Details */

.clickable-image {
  border: 2px solid #fff;
  width: 100px;
  aspect-ratio: 1/1;
}

.prodDetailBody .row {
  height: 300px;
}

.row.prodTitle {
  height: 18vh;
}

.prodTitle #product-name {
  font-size: clamp(28px, 1vw, 15px);
}
.prodTitle #product-price {
  font-size: clamp(20px, 1vw, 10px);
}

#add-to-cart {
  height: 100px;
}

.tab-pane p {
  font-size: clamp(15px, 2vw, 10px);
}

#main-product-image {
  width: 100%;
  max-height: 500px;
  object-position: 50% 75%;
}

#product-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#productshowcase {
  display: flex;
  align-items: flex-end;
}
