#productListing {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 4em;
  align-content: center;
  margin: auto;
  margin-top: 90px;
  padding-top: 0;
}

.card {
  position: relative;
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  color: var(--font-color);
  background-color: #d7d7d7;
  border-radius: 15px;
  width: 240px;
  height: 288px;
}

.card > .card-body {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  margin: 32px 24px;
  padding: 0;
  position: absolute;
  justify-content: space-between;
  z-index: 4;
}

.itemSummary {
  margin: 0;
  height: 200px;
  max-height: 200px;
}

.card img {
  height: 50%;
  object-fit: cover;
}

h2 {
  font-size: 1.5em;
}
