.form-check-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkForm {
  display: inline-block;
}

section {
  margin: auto;
}

#submitBtn {
  display: flex;
  justify-content: center;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--font-color);
}
