.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option .btn {
  width: 70px;
  color: var(--font-color);
}

.option .btn:hover {
  color: var(--body-color);
  background-color: var(--font-color);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
