:root {
  --primary-color: #ffb100;
  --body-color: #fafafa;
  --font-color: #1c1917;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 900;
  color: var(-primary-color);
}

h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  font-size: clamp(16px, 2vw, 35px);
}

h3 {
  font-size: clamp(16px, 1.5vw, 32px);
}

h4,
p {
  font-size: clamp(15px, 1.3vw, 30px);
}

p {
  font-weight: 400;
}

body {
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
}

section {
  display: block;
  margin: 50px 0px;
}

.banner {
  background-color: white;
  color: #fff;
  height: 60vh;
  margin-top: 65px;
}
.container {
  padding: 0;
  height: 100%;
}
.row {
  position: relative;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.details {
  position: absolute;
  padding: 2em;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 2em;
}

.topbox {
  height: 70px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-check-input:checked {
  color: #fff;
  border-color: var(--font-color);
  background-color: var(--font-color);
}

.form-check-input:focus {
  border-color: #4b4b4b;
  -webkit-box-shadow: 0 0 3px 0 #4b4b4b;
  box-shadow: 0 0 3px 0 #4b4b4b;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

@media screen and (min-width: 769px) {
  p {
    font-size: 1.2em;
  }
}

#banner {
  position: relative;
  text-align: center;
  color: #ffffff;
}

#banner .Title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.darken-img {
  filter: brightness(55%);
  width: 100%;
  height: 445px;
  position: relative;
  object-fit: cover;
}
/* Copy from here */
.btn-primary {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #ff5100 0%, #ffae00 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-image: linear-gradient(122deg, #ff1e00 0%, #ffa600 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-default {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #969696 0%, #dcdcdc 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  border: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:not([disabled]):not(.disabled).active,
.btn-default:not([disabled]):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
  background-image: linear-gradient(122deg, #828282 0%, #d4d4d4 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-info {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #00c0ef 0%, #9fecff 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 0;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  background-image: linear-gradient(122deg, #00acd6 0%, #65ddfb 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-success {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #28c7c0 0%, #00ff8b 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 0;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background-image: linear-gradient(122deg, #24b3ad 0%, #00e27b 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-warning {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #f49220 0%, #ffbe56 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 0;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  background-image: linear-gradient(122deg, #e07f1b 0%, #fbaa33 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-danger {
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(122deg, #b91616 0%, #f16e57 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  border: 0;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  background-image: linear-gradient(122deg, rgb(138, 27, 15) 0%, #ce4c3d 100%);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
