:root {
  --primary-color: #ffb100;
  --body-color: #fafafa;
  --font-color: #1c1917;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: clamp(20px, 5vw, 40px);
  font-weight: 900;
  color: var(-primary-color);
}

h2,
h3,
h4 {
  font-weight: 700;
}

h2 {
  font-size: clamp(16px, 2vw, 35px);
}

h3 {
  font-size: clamp(12px, 1.5vw, 32px);
}

h4,
p {
  font-size: clamp(10px, 1.3vw, 30px);
}

p {
  font-weight: 400;
}

body {
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: "Inter", sans-serif;
}

section {
  display: block;
  margin: 50px 0px;
}

.banner {
  background-color: white;
  color: #fff;
  height: 60vh;
  margin-top: 65px;
}
.container {
  padding: 0;
  height: 100%;
}
.row {
  position: relative;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.details {
  position: absolute;
  padding: 2em;
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 2em;
}

.topbox {
  height: 70px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-check-input:checked {
  color: #fff;
  border-color: var(--font-color);
  background-color: var(--font-color);
}

.form-check-input:focus {
  border-color: #4b4b4b;
  -webkit-box-shadow: 0 0 3px 0 #4b4b4b;
  box-shadow: 0 0 3px 0 #4b4b4b;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

@media screen and (min-width: 769px) {
  p {
    font-size: 1.2em;
  }
}

#banner {
  position: relative;
  text-align: center;
  color: #ffffff;
}

#banner .Title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.darken-img {
  filter: brightness(55%);
  width: 100%;
  height: 445px;
  position: relative;
  object-fit: cover;
}
